<template>
	<div class="about">
		<div className="container">
			<h1 className="is-size-2 has-text-weight-bold has-text-link-dark  has-text-centered">About Us</h1>
			<img alt="About Us" src="../assets/about_us_01.png">

			<br />

			<div class="field">
			<p class="control has-icons-left">
				<input v-model="name"
					class="input is-link is-medium is-rounded" 
					type="text" 
					id="clientName"
					placeholder="Enter your name please" 
				>
				<span class="icon is-small is-left">
					<i class="fas fa-file-signature"></i>
				</span>
			</p>
			</div>
			<br />
			<h1 class="title has-text-link-dark has-text-justified has-text-weight-bold" id="lblName"> {{name}} </h1>
			<br />

			<!-- Insert counter below here -->
			<div class="field is-grouped">
				<p class="control">
					<button @click="decrementCounterBy4" class="button is-danger is-large has-text-weight-bold  mx-3" title="Add 5">
						<span class="icon is-small">
						<i class="fas fa-minus-circle"></i>
						</span>
						<span> - 4 </span>
					</button>					
					<button @click="counter-=2" class="button is-danger is-large is-outlined has-text-weight-bold" title="Minus 2">
						<span class="icon is-small">
						<i class="fas fa-dice-two"></i>
						</span>
						<span> - 2 </span>
					</button>  			
					<button @click="counter--" class="button is-link is-large is-outlined has-text-weight-bold mx-3" title="Minus 1">
						<span class="icon is-small">
						<i class="fas fa-minus"></i>
						</span>
						<span> - 1 </span>
					</button>  

					<span class="title has-text-link-dark has-text-centered has-text-weight-bold" id="lblCounter"> {{counter}} </span>

					<button @click="counter++" class="button is-link is-large is-outlined has-text-weight-bold mx-3" title="Add 1">
						<span class="icon is-small">
						<i class="fas fa-plus"></i>
						</span>
						<span> + 1 </span>
					</button> 
					<button @click="counter+=3" class="button is-success is-large is-outlined has-text-weight-bold" title="Add 3">
						<span class="icon is-small">
						<i class="fas fa-dice-three"></i>
						</span>
						<span> + 3 </span>
					</button>
					<button @click="incrementCounterBy5" class="button is-link is-large has-text-weight-bold  mx-3" title="Add 5">
						<span class="icon is-small">
						<i class="fas fa-plus-circle"></i>
						</span>
						<span> + 5 </span>
					</button>					
				</p>
			</div>   		



			<br /><br />
			<p class="has-text-justified">Filler text generated with <a href="http://officeipsum.com/">OfficeIpsum.com</a> ... We've got to manage that low hanging fruit ... To be inspired is to become creative, innovative and energized we want this philosophy to trickle down to all our stakeholders cross-pollination. Prepare yourself to swim with the sharks.  The horse is out of the barn exposing new ways to evolve our design language overcome key issues to meet key milestones.</p><br />
			<p class="has-text-justified">The closest elephant is the most dangerous we need a recap by EoD ... I also believe it's important for every member to be involved and invested in our company and this is one way to do so. Quick win let's pressure test this. Collaboration through advanced technlogy future-proof, so who's the goto on this job with the way forward?</p><br />
      <img alt="About Us" src="../assets/resources02.png">

			<p class="has-text-justified">At the end of the day due diligence quick win timeframe we need to get all stakeholders up to speed and in the right place. ... We need to aspirationalise our offerings if you want to motivate these folks, try less carrot and more stick, and blue money, those options are already baked in with this model.</p><br />

		</div>
	</div>
</template>

<style lang="scss">
</style>

<script>
	export default {
		data() {
			return {
				name: "Dayne", 
				counter : 0
			};
		}, 
		methods: {
			incrementCounterBy5() {
				this.counter+=5;
			}, 
			decrementCounterBy4() {
				this.counter-=4;
			}
		}
	}
</script>
