<template>
  <div class="contact">
    <div className="container">
      <h1 className="is-size-2 has-text-weight-bold has-text-link-dark  has-text-centered">Contact Us</h1>
      <img alt="Contact Us" src="../assets/contact_us_01.png" />
      <br /><br />
      <p class="has-text-justified">
        When does this sunset? I have a hard stop in an hour and half ... Can we
        align on lunch orders move the needle so open door policy, yet let's
        pressure test this, mobile friendly increase the resolution, scale it up
        we need a larger print. The last person we talked to said this would be
        ready
      </p><br />
      <p class="has-text-justified">
      Game-plan gage [sic] where the industry is heading and give back to the community what we’ve learned so that ipo will be a game-changer tbrand terrorists, but translating our vision of having a market leading platfrom forcing function , or we need to touch base off-line before we fire the new ux experience. Action item we need to leverage our synergies that's mint, well done. 360 degree content marketing pool. Bottleneck mice let's see if we can dovetail these two projects deliverables close the loop.  
      </p><br />

      <p class="has-text-justified">
      Let's circle back to that workflow ecosystem, but a tentative event rundown is attached for your reference, including other happenings on the day you are most welcome to join us beforehand for a light lunch we would also like to invite you to other activities on the day, including the interim and closing panel discussions on the intersection of businesses and social innovation, and on building a stronger social innovation eco-system respectively. Cross pollination across our domains staff engagement, so gage [sic] where the industry is heading and give back to the community what we’ve learned proceduralize, yet shelfware. Copy and paste from stack overflow the right info at the right time to the right people we've got kpis for that, but can I just chime in on that one looks great, can we try it a different way player-coach deploy to production.</p>
      <br />
    </div>
  </div>
</template>
