<template>
	<div class="resources">
		<div className="container">
			<h1 className="is-size-2 has-text-weight-bold has-text-link-dark  has-text-centered">About Us</h1>
			<img alt="About Us" src="../assets/resources04.png">
			<br /><br />
			<p class="has-text-justified">Filler text generated with <a href="http://officeipsum.com/">OfficeIpsum.com</a> ... The horse is out of the barn exposing new ways to evolve our design language overcome key issues to meet key milestones.</p><br />
			
			<p class="has-text-justified">At the end of the day due diligence quick win timeframe we need to get all stakeholders up to speed and in the right place. ... We need to aspirationalise our offerings if you want to motivate these folks, try less carrot and more stick, and blue money, those options are already baked in with this model.</p>		  
      <br />
      <img alt="About Us" src="../assets/resources01.png">
		</div>
	</div>
</template>
